:root{
    --ciano: #a6effff2;
    --branco: #C1C8e4;
    --azul: #5680e9;
    --azul-claro: #5ab9ea;
    --lilas:#8860d0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg,rgba(0,0,0,.1),rgba(0,0,0,.1)),linear-gradient(90deg,#9f79f3,#a7e8ec);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--branco);
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg,rgba(0,0,0,.1),rgba(0,0,0,.1)),linear-gradient(90deg,#9f79f3,#a7e8ec);
    box-shadow: 0 8px 24px rgb(0 0 0 / 30%);   
    border-radius: 0 0 2px 2px;
    padding: 10px;
}
.logo-principal{
    margin-left: 15px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}
header nav{
    display: flex;
    right: 0;
    top: 15px;
}
header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    padding: 10px;
    font-weight: 500;
}
header nav a:hover{
    background: white;
    border-radius: 8px;
    color: #8860d0;
}
/*filme principal*/
.filme-principal{
    width: 100%;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/cover.jpg');
    height: 500px;
    background-size:cover;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
    border-radius: 8px;
}
.descricao{
    margin-top: 10px;
    margin-bottom: 40px;

}
h3 {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.botao:hover{
    background-color: white;
    color: black;
    transition: .5s ease all;
}
.botao i{
    margin-right: 8px;
}
.container{
    padding-inline-start: 20px;
    
}
.filme-principal .container{
    width: 70%;
}
.line-break{
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;    
    padding: 10px;
}

footer{
    
    text-align: center;
    padding: 10px;
    background: var(--branco);
    color: #8860d0;
    font-weight: 400;
    border-radius: 8px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
footer a:hover{
    color: #8860d0;
    background-color: var(--branco);
    border-radius: 8px;

}
.item img{
    border-radius: 5px;
    height: 450px;;
}
